@font-face {
  font-family: 'balatro';
  font-style: normal;
  font-weight: normal;
  src: local('m6x11plus'), url('../assets/m6x11plus.ttf') format('truetype');
}

/* MAIN */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
  position: fixed;
}

/* crt effect */

@keyframes flicker {
  0% {
  opacity: 0.27861;
  }
  5% {
  opacity: 0.34769;
  }
  10% {
  opacity: 0.23604;
  }
  15% {
  opacity: 0.90626;
  }
  20% {
  opacity: 0.18128;
  }
  25% {
  opacity: 0.83891;
  }
  30% {
  opacity: 0.65583;
  }
  35% {
  opacity: 0.67807;
  }
  40% {
  opacity: 0.26559;
  }
  45% {
  opacity: 0.84693;
  }
  50% {
  opacity: 0.96019;
  }
  55% {
  opacity: 0.08594;
  }
  60% {
  opacity: 0.20313;
  }
  65% {
  opacity: 0.71988;
  }
  70% {
  opacity: 0.53455;
  }
  75% {
  opacity: 0.37288;
  }
  80% {
  opacity: 0.71428;
  }
  85% {
  opacity: 0.70419;
  }
  90% {
  opacity: 0.7003;
  }
  95% {
  opacity: 0.36108;
  }
  100% {
  opacity: 0.24387;
  }
}
/* Text overflow effect*/
.auto-resize-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.auto-resize-text {
  white-space: nowrap;
  transition: font-size 0.2s ease;
}

body {
  background-image: url('../assets/background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'balatro';
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.builder-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  width: 98%;
  height: 70%;
  margin-left: 1%;
  margin-right: 1%;
  box-sizing: border-box;
}

/* NAVBAR */

.title {
  color: aliceblue;
  font-family: 'balatro';
  margin: 2%;
}

.navbar-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../assets/slider_button_background.png");
  transition: .4s;
  border-radius: 10px;
  border: transparent;
  image-rendering: pixelated;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 8px;
  left: 0.3em;
  bottom: 0.3em;
  transform: translateX(5%);
  background-color: rgb(255, 255, 255);
  transition: .4s;
}

.switch input:checked + .slider {
  background: url('../assets/rarity/rare.png');
  image-rendering: pixelated;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.switch input:checked + .slider:before {
  transform: translateX(1.5em);
}

/* BUILDING SPACE */

.building-space {
  position: relative;
  margin-left: 2%;
  margin-right: 2%;
  font-family: 'balatro';
  color: aliceblue;
  height: 100%;
  width: 33%;
  display: flex;
  flex-direction: column;
  background-image: url('../assets/builder_background.png');
  image-rendering: pixelated;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.building-space-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
  height: 50%;
  position: relative;
  z-index: 1;
}

.building-list {
  width: 45%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1%;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  overflow: hidden;
}

.downloader-button-wrapper {
  width: 45%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1%;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  overflow: hidden;
}

.downloader-button {
  width: 150px;
  height: 50px;
  border-radius: 15px;
  background-color: rgb(255, 76, 76);
  font-family: 'balatro';
  color: aliceblue;
  text-shadow: 2px 2px #ff0000;
  border: #ff0000;
  filter: drop-shadow(2px 2px rgb(63, 63, 63));
  transition: background-color 0.2s;
}
.downloader-button-clicked {
  width: 150px;
  height: 50px;
  border-radius: 15px;
  background-color: rgb(255, 162, 162);
  border: 2px solid aliceblue;
  font-family: 'balatro';
  text-shadow: rgb(255, 76, 76);
  color: aliceblue;
  filter: drop-shadow(2px 2px rgb(63, 63, 63))
} 
.downloader-button:hover {
  width: 150px;
  height: 50px;
  border-radius: 15px;
  background-color: rgb(134, 34, 28);
  border: 2px solid rgb(18,27,29);
  font-family: 'balatro';
  text-shadow: none;
  color: black;
  filter: drop-shadow(2px 2px rgb(63, 63, 63))
}

.highlight {
  background-color: lightblue;
}

.logic-block-input-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 3%;
  font-family: 'balatro';
  color: aliceblue;
  background-color: rgb(18,27,29);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(2px 2px rgb(63, 63, 63));
}
.clear-list-button {
  width: 50%;
  height: 98%;
  text-align: center;
  background-color: rgb(255, 76, 76);
  text-shadow: 2px 2px #ff0000;
  color: aliceblue;
  border: 2px solid rgb(255, 76, 76);
  border-radius: 15px;
  filter: drop-shadow(5px 5px rgb(63, 63, 63));
  transition: background-color 0.2s;
}
.clear-list-button-clicked{
  width: 50%;
  height: 98%;
  text-align: center;
  background-color: rgb(255, 162, 162);
  text-shadow: rgb(255, 76, 76);
  border: 2px solid aliceblue;
  color: aliceblue;
  border-radius: 15px;
  filter: drop-shadow(5px 5px rgb(63, 63, 63));
} 
.clear-list-button:hover {
  width: 50%;
  height: 98%;
  text-align: center;
  background-color: rgb(134, 34, 28);
  text-shadow: none;
  border: 2px solid rgb(18,27,29);
  color: rgb(18,27,29);
  border-radius: 15px;
  filter: drop-shadow(5px 5px rgb(63, 63, 63));
}
/* JOKER INFO */

.joker-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 33%;
  background-image: url('../assets/joker_info_background.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  overflow: hidden;
}
.joker-info-title-wrapper {
  width: 100%;
  height: 30%;
  margin: 0%;
  margin-top: 3%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.container-name-rarity {
  background-image: url('../assets/name_rarity_background.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  overflow: hidden;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.container-cost {
  background-image: url('../assets/context_list_background.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  overflow: hidden;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.container-effect {
  background-image: url('../assets/effect_cost_background.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  overflow: hidden;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.joker-details-input {
  width: 20%;
  margin: 1%;
}

.art-asset-container {
  background-image: url('../assets/image_uploader_background.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  overflow: hidden;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.dropped-art-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #ccc;
  border-radius: 50px;
  background-color: rgb(58,80,85);
  width: 152px;
  height: 200px;
  border-radius: 5px;
}

.rarity-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'balatro';
  color: aliceblue;
  margin: 10px;
}

.rarity-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

.rarity-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(255, 76, 76);
  font-family: 'balatro';
  color: aliceblue;
  text-shadow: 2px 2px #ff0000;
  border: 2px solid rgb(255, 76, 76);
  transition: background-color 0.2s;
  filter: drop-shadow(rgb(63, 63, 63) 2px 2px)
}

.rarity-buttons-clicked {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(255, 162, 162);
  border: 2px solid aliceblue;
  font-family: 'balatro';
  color: aliceblue;
  text-shadow: none;
  filter: drop-shadow(rgb(63, 63, 63) 2px 2px)
} 

.rarity-buttons:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(255, 76, 76);
  border: 2px solid rgb(18,27,29);
  font-family: 'balatro';
  color: black;
  text-shadow: none;
  filter: drop-shadow(rgb(63, 63, 63) 2px 2px)
}

.joker-cost-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 80px;
  background-color: rgb(18,27,29);
  border: solid;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.joker-cost-oval {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'balatro';
  color: rgb(245,178,68);
  text-shadow: 2px 2px rgb(28,35,36);
  background-color: rgb(53,63,66);
  height: 40px;
  width: 60px;
  border-radius: 20px;
}

.joker-input-container {
  display: flex;
  height: 75%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'balatro';
  color: aliceblue;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.input-joker-name {
  height: 63px;
  width: 192px;
  font-family: 'balatro';
  font-size: x-large;
  color: black;
  text-shadow: 2px 2px rgb(197, 197, 197);
  text-align: center;
  border: none;
  clip-path: polygon(
    0px calc(100% - 14px),
    2px calc(100% - 14px),
    2px calc(100% - 10px),
    4px calc(100% - 10px),
    4px calc(100% - 6px),
    6px calc(100% - 6px),
    6px calc(100% - 4px),
    10px calc(100% - 4px),
    10px calc(100% - 2px),
    14px calc(100% - 2px),
    14px 100%,
    calc(100% - 14px) 100%,
    calc(100% - 14px) calc(100% - 2px),
    calc(100% - 10px) calc(100% - 2px),
    calc(100% - 10px) calc(100% - 4px),
    calc(100% - 6px) calc(100% - 4px),
    calc(100% - 6px) calc(100% - 6px),
    calc(100% - 4px) calc(100% - 6px),
    calc(100% - 4px) calc(100% - 10px),
    calc(100% - 2px) calc(100% - 10px),
    calc(100% - 2px) calc(100% - 14px),
    100% calc(100% - 14px),
    100% 14px,
    calc(100% - 2px) 14px,
    calc(100% - 2px) 10px,
    calc(100% - 4px) 10px,
    calc(100% - 4px) 6px,
    calc(100% - 6px) 6px,
    calc(100% - 6px) 4px,
    calc(100% - 10px) 4px,
    calc(100% - 10px) 2px,
    calc(100% - 14px) 2px,
    calc(100% - 14px) 0px,
    14px 0px,
    14px 2px,
    10px 2px,
    10px 4px,
    6px 4px,
    6px 6px,
    4px 6px,
    4px 10px,
    2px 10px,
    2px 14px,
    0px 14px
  );
}

.input-joker-cost {
  height: 63px;
  width: 192px;
  font-family: 'balatro';
  font-size: xx-large;
  color: rgb(225,136,0);
  text-shadow: 2px 2px rgb(28,35,36);
  text-align: center;
  border: none;
  clip-path: polygon(
    0px calc(100% - 14px),
    2px calc(100% - 14px),
    2px calc(100% - 10px),
    4px calc(100% - 10px),
    4px calc(100% - 6px),
    6px calc(100% - 6px),
    6px calc(100% - 4px),
    10px calc(100% - 4px),
    10px calc(100% - 2px),
    14px calc(100% - 2px),
    14px 100%,
    calc(100% - 14px) 100%,
    calc(100% - 14px) calc(100% - 2px),
    calc(100% - 10px) calc(100% - 2px),
    calc(100% - 10px) calc(100% - 4px),
    calc(100% - 6px) calc(100% - 4px),
    calc(100% - 6px) calc(100% - 6px),
    calc(100% - 4px) calc(100% - 6px),
    calc(100% - 4px) calc(100% - 10px),
    calc(100% - 2px) calc(100% - 10px),
    calc(100% - 2px) calc(100% - 14px),
    100% calc(100% - 14px),
    100% 14px,
    calc(100% - 2px) 14px,
    calc(100% - 2px) 10px,
    calc(100% - 4px) 10px,
    calc(100% - 4px) 6px,
    calc(100% - 6px) 6px,
    calc(100% - 6px) 4px,
    calc(100% - 10px) 4px,
    calc(100% - 10px) 2px,
    calc(100% - 14px) 2px,
    calc(100% - 14px) 0px,
    14px 0px,
    14px 2px,
    10px 2px,
    10px 4px,
    6px 4px,
    6px 6px,
    4px 6px,
    4px 10px,
    2px 10px,
    2px 14px,
    0px 14px
  );
}

.input-joker-effect {
  height: 100px;
  width: 192px;
  font-family: 'balatro';
  font-size: larger;
  color: black;
  text-shadow: 2px 2px rgb(197, 197, 197);
  text-align: center;
  border: none;
  overflow-y:auto;
  clip-path: polygon(
    0px calc(100% - 20px),
    4px calc(100% - 20px),
    4px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 4px),
    20px calc(100% - 4px),
    20px 100%,
    calc(100% - 20px) 100%,
    calc(100% - 20px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 20px),
    100% calc(100% - 20px),
    100% 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 0px,
    20px 0px,
    20px 4px,
    12px 4px,
    12px 8px,
    8px 8px,
    8px 12px,
    4px 12px,
    4px 20px,
    0px 20px
  );
}

.joker-preview {
  height: 272px;
  width: 202px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.joker-preview-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 192px;
  width: 182px;
  font-family: 'balatro';
  color: aliceblue;
  background-repeat: no-repeat;
  background-size: cover;
}

.joker-preview-effect-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 67px;
  width: 162px;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'balatro';
  font-size: small;
  color: black;
  text-shadow: 2px 2px rgb(197, 197, 197);
}

.joker-preview-effect {
  width: 158px;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.joker-preview-rarity-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 162px;
  background-repeat: no-repeat;
  background-size: cover;
}

.button-delete-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgb(255, 76, 76);
  color: white;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  text-align: center;
  line-height: 24px;
}

/* SIDE PANEL */

#controlled-tab-tab-home {
  background-color: rgb(156, 94, 0); 
  color: white; 
  border: solid 1px rgb(27, 38, 41);
  user-select: none;
}

#controlled-tab-tab-conditions {
  background-color: rgb(30, 63, 49); 
  color: white; 
  border: solid 1px rgb(27, 38, 41);
  user-select: none;
}

#controlled-tab-tab-results {
  background-color: rgb(134, 34, 28); 
  color: white; 
  border: solid 1px rgb(27, 38, 41);
  user-select: none;
}

.nav-link.active#controlled-tab-tab-home {
  background-color: rgb(255, 152, 0); 
  color: aliceblue; 
}

.nav-link.active#controlled-tab-tab-conditions {
  background-color: rgb(53, 108, 85); 
  color: aliceblue; 
}

.nav-link.active#controlled-tab-tab-results {
  background-color: rgb(255, 76, 76); 
  color: aliceblue; 
}


.tab-container {
  font-family: 'balatro';
  color: aliceblue;
  height: 100%;
  width: 33%;
  display: flex;
  flex-direction: column;
  background-image: url('../assets/side_panel_background.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  overflow: hidden;
}

#controlled-tab {
  margin-bottom: 0rem !important;
  border: solid 1px rgb(27, 38, 41)
}

.block-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border: solid 1px rgb(27, 38, 41);
}

.logic-block-title {
  margin: 4px;
}

.logic-block {
  opacity: 1;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: fit-content;
  font-family: 'balatro';
  color: aliceblue;
  margin: 10px;
  filter: drop-shadow(2px 5px rgb(27, 38, 41));
}

.logic-block-input {
  height: 60%;
  width: 12%;
  border-radius: 50%;
  border: transparent;
}

.purple-block {
  /* This block isn't being used, however, I'm keeping the colors here in case I decide to use it */
  background-color: rgb(187,123,195);
  text-shadow: 2px 2px rgb(109,53,116);
}

.item-image-title {
  height: fit-content;
  width: 300px
}

.item-row {
  display: flex;
  flex-direction: row;
  height: max-content;
  width: 600px
}

.tab-content {
  /* overflow: scroll; */
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  height: 100%;
}
