@font-face {
  font-family: 'balatro';
  font-style: normal;
  font-weight: normal;
  src: local('m6x11plus'), url('./assets/m6x11plus.ttf') format('truetype');
}
/* MAIN */

body {
  background-image: url('./assets/background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'balatro';
}

.main-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.builder-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}
/* NAVBAR */

.title {
  color: aliceblue;
  font-family: 'balatro';
}

.navbar-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* BUILDING SPACE */

.building-space {
  height: 800px;
  width: 1200px;
  background-color: rgb(70, 70, 70);
  border-radius: 25px;
  opacity: 0.5;
  margin: 30px;
  font-family: 'balatro';
  color: aliceblue;
}
.building-space-row {
  display: flex;
  flex-direction: row;
}

.building-list-context-block {
  border: 2px solid #3700ff;
  width: 300px;
  height: 300px;
}
.building-list-condition-block {
  border: 2px solid #ff0000;
  width: 300px;
  height: 300px;
}
.building-list-results-block {
  border: 2px solid #00ff00;
  width: 300px;
  height: 300px;
}

.highlight {
  background-color: lightblue;
}

/* CENTER TAB */

.joker-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
  width: 800px;
  border-radius: 25px;
  border: solid 5px rgb(46,58,60);
  background-color: rgb(27,38,41);
}

.joker-details-input {
  width: 20%;
  margin: 1%;
}

.art-asset-container {
  border: 2px dashed #ccc;
  border-radius: 50px;
  background-color: rgb(58,80,85);
  width: 152px;
  height: 200px;
  border-radius: 5px;
}
.dropped-art-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rarity-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'balatro';
  color: aliceblue;
  margin: 10px;
}
.rarity-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.rarity-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(255, 76, 76);
  font-family: 'balatro';
  color: aliceblue;
  text-shadow: 2px 2px #ff0000;
  border: #ff0000;
}
.joker-cost-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 80px;
  background-color: rgb(18,27,29);
  border: solid;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.joker-cost-oval {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'balatro';
  color: rgb(245,178,68);
  text-shadow: 2px 2px rgb(28,35,36);
  background-color: rgb(53,63,66);
  height: 40px;
  width: 60px;
  border-radius: 20px;
}
.joker-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'balatro';
  color: aliceblue;
}
.input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.input-joker-name {
  height: 63px;
  width: 192px;
  font-family: 'balatro';
  font-size: x-large;
  color: black;
  text-shadow: 2px 2px rgb(197, 197, 197);
  text-align: center;
  border: none;
}
.input-joker-cost {
  height: 63px;
  width: 192px;
  font-family: 'balatro';
  font-size: xx-large;
  color: rgb(225,136,0);
  text-shadow: 2px 2px rgb(28,35,36);
  text-align: center;
  border: none;
}
.input-joker-effect {
  height: 100px;
  width: 192px;
  font-family: 'balatro';
  font-size: larger;
  color: black;
  text-shadow: 2px 2px rgb(197, 197, 197);
  text-align: center;
  border: none;
  overflow-y:auto;
}
.joker-preview {
  height: 272px;
  width: 202px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.joker-preview-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 192px;
  width: 182px;
  font-family: 'balatro';
  color: aliceblue;
  background-repeat: no-repeat;
  background-size: cover;
}
.joker-preview-effect-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 67px;
  width: 162px;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'balatro';
  font-size: small;
  color: black;
  text-shadow: 2px 2px rgb(197, 197, 197);
}
.joker-preview-effect {
  width: 158px;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.joker-preview-rarity-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 162px;
  background-repeat: no-repeat;
  background-size: cover;
}
.button-delete-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgb(255, 76, 76);
  color: white;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  text-align: center;
  line-height: 24px;
}
/* SIDE PANEL */

.tab-container {
  font-family: 'balatro';
  color: aliceblue;
  height: 40%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.block-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.logic-block-title {
  margin: 4px;
}
.red-block {
  background-color: rgb(255, 76, 76);
  opacity: 1;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px #ff0000;
  height: 50px;
  width: fit-content;
  font-family: 'balatro';
  color: aliceblue;
  margin: 10px;
}

.blue-block {
  background-color: rgb(0,147,255);
  opacity: 1;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px rgb(0,90,166);
  height: 50px;
  width: fit-content;
  font-family: 'balatro';
  color: aliceblue;
  margin: 10px;
}

.yellow-block {
  background-color: rgb(255,152,0);
  opacity: 1;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px rgb(225,136,0);
  height: 50px;
  width: fit-content;
  font-family: 'balatro';
  color: aliceblue;
  margin: 10px;
}

.green-block {
  background-color: rgb(53,108,85);
  opacity: 1;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px rgb(45,95,74);
  height: 50px;
  width: fit-content;
  font-family: 'balatro';
  color: aliceblue;
  margin: 10px;
}
.purple-block {
  background-color: rgb(187,123,195);
  opacity: 1;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px rgb(109,53,116);
  height: 50px;
  width: fit-content;
  font-family: 'balatro';
  color: aliceblue;
  margin: 10px;
}

.item-image-title {
  height: fit-content;
  width: 300px
}

.item-row {
  display: flex;
  flex-direction: row;
  height: max-content;
  width: 600px
}

.tab-content {
  max-height: 700px;
  overflow: scroll;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(70, 70, 70);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  opacity: 0.5; */ 
  /* I need to find a way to make sure this doesn't apply to the content inside the div */
}
